* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;


    user-select: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;

    /* background: #111111; */

    background: linear-gradient(135deg, #080808, #070707);

    padding: 20px;
    color: white;


    background-image:
        radial-gradient(circle at center, rgb(5, 5, 5) 0%, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 1) 100%);


    overflow: hidden;
}


body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: 0;
    pointer-events: none;

    background-image:
        repeating-linear-gradient(to right,
            rgba(255, 255, 255, 0.02) 0px,
            rgba(255, 255, 255, 0.02) 1px,
            transparent 1px,
            transparent 60px),
        repeating-linear-gradient(to bottom,
            rgba(255, 255, 255, 0.02) 0px,
            rgba(255, 255, 255, 0.02) 1px,
            transparent 1px,
            transparent 60px);
    background-size: 60px 60px;
    mix-blend-mode: lighten;
}


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    grid-auto-rows: 250px;

    gap: 15px;

    min-height: calc(100vh - 40px);
    /* AI really helped me with this one , no idea what i was doing wtf, sorry :( */
    align-content: center;
    padding-top: 40px;
    padding-bottom: 40px;

}


.box {
    background: rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    border: 2px solid rgba(51, 153, 255, 0.5);



    padding: 20px;




    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



    text-align: center;



    font-size: 1.1rem;



    transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;

    z-index: 1;

    position: relative;

    box-shadow: 0 0 20px rgba(51, 153, 255, 0.2);

}

.box:hover {
    transform: scale(1.01);
    box-shadow: 0 0 50px rgba(51, 153, 255, 0.5);
    z-index: 10;
}



.grid:has(.box:hover) .box:not( :hover) {
    opacity: 0.7;
    filter: blur(2px);
}


.wide {
    grid-column: span 2;
}


.big {
    grid-column: span 2;

    grid-row: span 2;
}

/* title inside box */
.box h4 {
    margin-bottom: 10px;

    font-size: 1.3rem;
}



.social-svg svg {
    transition: filter 0.3s ease;
}

.social-svg:hover svg {
    filter: drop-shadow(0 0 8px #3399ff);
    transform: scale(1.1);

    transition: filter 0.3s ease, transform 0.3s ease;
}


.social-svg {
    display: flex;
}




.social-container {
    display: flex;
    gap: 12px;
    align-items: center;
}


.text-highlight {
    color: #3399ff;
    font-weight: bold;


    text-shadow: 0 0 10px rgba(51, 153, 255, 0.5);
}


@keyframes wave {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(14deg);
    }

    20% {
        transform: rotate(-8deg);
    }

    30% {
        transform: rotate(14deg);
    }

    40% {
        transform: rotate(-4deg);
    }

    50% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.waving-hand {
    display: inline-block;
    transform-origin: 70% 70%;
    animation: wave 1.5s infinite;
}


#spotify-album-art {
    border-radius: 16px;
}



.scrolling-wrapper {


    overflow: hidden;
    width: 100%;
}

.scrolling-content {

    display: flex;
    width: max-content;
    animation: scroll-left 30s linear infinite;

}

.scrolling-content img {
    margin-right: 1rem;
    height: 150px;

    border-radius: 16px;


    opacity: 0;
    animation: fade-in 5s ease forwards;
    animation-delay: 0.5s;
}


@keyframes fade-in {
    to {
        opacity: 1;
    }
}

@keyframes scroll-left {


    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}


@keyframes slide-down-fade-in {
    0% {
        transform: translateY(-60px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.row-1 {
    opacity: 0;
    animation: slide-down-fade-in 2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
    animation-delay: 0.2s;
}

@keyframes slide-up-fade-in {
    0% {
        transform: translateY(60px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.row-2 {
    opacity: 0;
    animation: slide-up-fade-in 2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
    animation-delay: 0.2s;
}

@media (max-width: 650px) {
  .wide {
    grid-column: span 1 !important;
  }
}


.error {

    display: none;

    text-align: center;

    height: 100vh;
    width: 100vw;

    z-index: 1000;
}



@media (min-width: 1600px) and (max-width: 1915px) {
    .error {
        display: block;
        
    }

    body > *:not(.error) {
        display: none !important;
    }
}

@media (min-width: 970px) and (max-width: 1285px) {
    .error {
        display: block;
    }

    body > *:not(.error) {
        display: none !important;
    }
}


#spotify-track-name {
    margin-bottom: 10px;
}

#spotify-album-art:hover {
    transform: scale(1.02);

    transition: filter 0.3s ease, transform 0.3s ease;
}

#local-weather {
    display: none;

    margin-bottom: 10px;
}

#nikita-time, #local-time {
    margin-bottom: 10px;
}

#spotify-track-name {


    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;



    font-weight: bold;
}

#spotify-artist-name {
    font-style: italic;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;


}



#local-time, #nikita-time {
    font-size: 1.2rem;
    font-weight: bold;
}